.header {
    padding: 1em;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    background-color: #ccd8ff;
    align-items: center;
}

.authentication-button {
    float: right;
}

.my-games, .home-button {
    text-decoration: none;
    color: #000;
}

.my-games:hover, .home-button:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.my-games:active, .home-button:active {
    text-decoration: none;
    color: #000;
}